<mat-toolbar color="primary">
    <button mat-button > 
        <mat-icon class="mat-18">home</mat-icon>
        Home 
    </button>
    <button mat-button >
        A propros nous
     </button>
        <button mat-button > 
            Services
         </button>
            <button mat-button > 
                Projets Realise 
            </button>
                <button mat-button >
                     Nouvelles
                     </button>
                    <button mat-button >
                         Nous Contacte 
                        </button>
  </mat-toolbar>
  