/* Fonts */
:root {
  --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #32353a; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #e84545; /* Accent color that represents our brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Surbrillance des éléments au survol */
/* Appliquer une transition sur la couleur et le fond */
.navbar-brand {
  transition: color 0.8s ease, background-color 0.8s ease; /* Transition de 0.4 seconde */
}

/* Surbrillance des éléments au survol */
.navbar-brand:hover {
  color: white !important; /* Texte en blanc au survol */
  background-color: rgba(0, 0, 0, 0.2); /* Fond sombre au survol (facultatif) */
  border-radius: 5px; /* Arrondir les bords du fond (facultatif) */
  font-weight: bold;
}


/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color:  #212529;
  /*background-color: #212529;*/
  position: relative;
}

.page-title .heading {
  border-top: 1px solid color-mix(in srgb,  #212529, transparent 90%);
}

.page-title .heading h1 {
  font-size: 38px;
  font-weight: 700;
}

.page-title nav {
  /*background-color: color-mix(in srgb, #212529, transparent 95%);*/
  padding: 20px 0;
}

.page-title nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.page-title nav ol li+li {
  padding-left: 10px;
}

.page-title nav ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, #212529, transparent 70%);
}



/*--------------------------------------------------------------
# Recent Posts Section
--------------------------------------------------------------*/
.recent-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Blog Posts Section
--------------------------------------------------------------*/
 .post-category {
  font-size: 16px;
  margin-bottom: 10px;
}

.blog-posts .title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog-posts .title a {
  color: #32353a;
  transition: 0.3s;
  text-decoration: none;
}

.blog-posts .title a:hover {
  color: #e84545;

}

.recent-posts .title a {
  color: #32353a;
  transition: 0.3s;
  text-decoration: none;

}

.recent-posts .title a:hover {
  color: #e84545;
}


.blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}


.blog-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.blog-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}

.recent-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.recent-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}
.blog-posts .post-date {
  font-size: 14px;
  color: color-mix(in srgb, #212529, transparent 40%);
  margin-bottom: 0;
}